%section.reset_password.container
  .row
    .span10.offset1
      = form_tag password_reset_path(@user.token), method: :patch do
        %header
          %h1 Reset Your Password
        %fieldset
          =label_tag :password, "New Password"
          =text_field_tag :password
        %fieldset.action
          =submit_tag "Reset Password", class: "btn"
