!!! 5
%h3
  ="Welcome to MyFlix #{@user.full_name}!"
%p
  This application is currently in testing. If you come across any errors please email
  Paul Sandhu and let him know. You can reach him at spaulsandhu@gmail.com.
%p
  Thanks for testing this application your help is much appreciated.