!!! 5
%h1
  ="Hi there #{@user.full_name}"
%p
  Please make sure you reset your password immediately, this link will only be good for 2 hours.
%p
  = link_to "Please click this link to reset your password", "#"