---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_1035Bb2EgJ8VpLXr5KKsnCi0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_0GZIa56QpRrqbGHqREQCYYf5
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"evt_1035Bb2EgJ8VpLXr5KKsnCi0\",\n  \"created\": 1386484794,\n
        \ \"livemode\": false,\n  \"type\": \"charge.succeeded\",\n  \"data\": {\n
        \   \"object\": {\n      \"id\": \"ch_1035Bb2EgJ8VpLXrZUC9O7Hl\",\n      \"object\":
        \"charge\",\n      \"created\": 1386484794,\n      \"livemode\": false,\n
        \     \"paid\": true,\n      \"amount\": 999,\n      \"currency\": \"usd\",\n
        \     \"refunded\": false,\n      \"card\": {\n        \"id\": \"card_1035Bb2EgJ8VpLXrIo7ieyfn\",\n
        \       \"object\": \"card\",\n        \"last4\": \"4242\",\n        \"type\":
        \"Visa\",\n        \"exp_month\": 12,\n        \"exp_year\": 2016,\n        \"fingerprint\":
        \"NjRZljRJ10zh6goe\",\n        \"customer\": \"cus_35BbKQrp3m67sq\",\n        \"country\":
        \"US\",\n        \"name\": null,\n        \"address_line1\": null,\n        \"address_line2\":
        null,\n        \"address_city\": null,\n        \"address_state\": null,\n
        \       \"address_zip\": null,\n        \"address_country\": null,\n        \"cvc_check\":
        \"pass\",\n        \"address_line1_check\": null,\n        \"address_zip_check\":
        null\n      },\n      \"captured\": true,\n      \"refunds\": [],\n      \"balance_transaction\":
        \"txn_1035Bb2EgJ8VpLXrLrWIrwyx\",\n      \"failure_message\": null,\n      \"failure_code\":
        null,\n      \"amount_refunded\": 0,\n      \"customer\": \"cus_35BbKQrp3m67sq\",\n
        \     \"invoice\": \"in_1035Bb2EgJ8VpLXro6wGMdXG\",\n      \"description\":
        null,\n      \"dispute\": null,\n      \"metadata\": {}\n    }\n  },\n  \"object\":
        \"event\",\n  \"pending_webhooks\": 0,\n  \"request\": \"iar_35BbtULLdPWCWs\"\n}\n"
  recorded_at: Sun, 08 Dec 2013 06:48:01 GMT
recorded_with: VCR 2.8.0
