---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_36BKEwNwQtK495
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_0GZIa56QpRrqbGHqREQCYYf5
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"object\": \"customer\",\n  \"created\": 1386714419,\n  \"id\":
        \"cus_36BKEwNwQtK495\",\n  \"livemode\": false,\n  \"description\": null,\n
        \ \"email\": \"jamesdoe@example.com\",\n  \"delinquent\": false,\n  \"metadata\":
        {},\n  \"subscription\": {\n    \"id\": \"sub_36BKunQU8K5F6e\",\n    \"plan\":
        {\n      \"interval\": \"month\",\n      \"name\": \"Basic Monthly Plan\",\n
        \     \"amount\": 999,\n      \"currency\": \"usd\",\n      \"id\": \"Basic\",\n
        \     \"object\": \"plan\",\n      \"livemode\": false,\n      \"interval_count\":
        1,\n      \"trial_period_days\": null,\n      \"metadata\": {}\n    },\n    \"object\":
        \"subscription\",\n    \"start\": 1386714419,\n    \"status\": \"active\",\n
        \   \"customer\": \"cus_36BKEwNwQtK495\",\n    \"cancel_at_period_end\": false,\n
        \   \"current_period_start\": 1386714419,\n    \"current_period_end\": 1389392819,\n
        \   \"ended_at\": null,\n    \"trial_start\": null,\n    \"trial_end\": null,\n
        \   \"canceled_at\": null,\n    \"quantity\": 1,\n    \"application_fee_percent\":
        null\n  },\n  \"discount\": null,\n  \"account_balance\": 0,\n  \"cards\":
        {\n    \"object\": \"list\",\n    \"count\": 1,\n    \"url\": \"/v1/customers/cus_36BKEwNwQtK495/cards\",\n
        \   \"data\": [\n      {\n        \"id\": \"card_1036BK2EgJ8VpLXrtrDJN3Ku\",\n
        \       \"object\": \"card\",\n        \"last4\": \"4242\",\n        \"type\":
        \"Visa\",\n        \"exp_month\": 12,\n        \"exp_year\": 2013,\n        \"fingerprint\":
        \"NjRZljRJ10zh6goe\",\n        \"customer\": \"cus_36BKEwNwQtK495\",\n        \"country\":
        \"US\",\n        \"name\": null,\n        \"address_line1\": null,\n        \"address_line2\":
        null,\n        \"address_city\": null,\n        \"address_state\": null,\n
        \       \"address_zip\": null,\n        \"address_country\": null,\n        \"cvc_check\":
        \"pass\",\n        \"address_line1_check\": null,\n        \"address_zip_check\":
        null\n      }\n    ]\n  },\n  \"default_card\": \"card_1036BK2EgJ8VpLXrtrDJN3Ku\"\n}\n"
  recorded_at: Sun, 15 Dec 2013 01:51:35 GMT
recorded_with: VCR 2.8.0
