- @genres.each do |genre|
  %section.index
    %header
      %h1= link_to genre.name, genre_path(genre)
    .video_cover.row
      - genre.recent_videos.each do |video|
        .video.span2
          = link_to image_tag("#{video.small_cover_url}"), video_path(video), {:id => "video_#{video.id}"} # dynamic id based on video id