---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000%200000%200000%200002&card[exp_month]=11&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_0GZIa56QpRrqbGHqREQCYYf5
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"tok_10355c2EgJ8VpLXrgGDOPOaT\",\n  \"livemode\": false,\n
        \ \"created\": 1386462543,\n  \"used\": false,\n  \"object\": \"token\",\n
        \ \"type\": \"card\",\n  \"card\": {\n    \"id\": \"card_10355c2EgJ8VpLXrpuhrlIWn\",\n
        \   \"object\": \"card\",\n    \"last4\": \"0002\",\n    \"type\": \"Visa\",\n
        \   \"exp_month\": 11,\n    \"exp_year\": 2016,\n    \"fingerprint\": \"Knlq4Jtr90lOEeuT\",\n
        \   \"customer\": null,\n    \"country\": \"US\",\n    \"name\": null,\n    \"address_line1\":
        null,\n    \"address_line2\": null,\n    \"address_city\": null,\n    \"address_state\":
        null,\n    \"address_zip\": null,\n    \"address_country\": null\n  }\n}\n"
  recorded_at: Sun, 08 Dec 2013 00:29:03 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_10355c2EgJ8VpLXrgGDOPOaT
    headers:
      Authorization:
      - Bearer sk_test_0GZIa56QpRrqbGHqREQCYYf5
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"error\": {\n    \"message\": \"Your card was declined.\",\n
        \   \"type\": \"card_error\",\n    \"code\": \"card_declined\",\n    \"charge\":
        \"ch_10355c2EgJ8VpLXrtnaY1iLb\"\n  }\n}\n"
  recorded_at: Sun, 08 Dec 2013 00:29:03 GMT
recorded_with: VCR 2.8.0
