---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242%204242%204242%204242&card[exp_month]=11&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_0GZIa56QpRrqbGHqREQCYYf5
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"tok_10358j2EgJ8VpLXrCe7ipSeD\",\n  \"livemode\": false,\n
        \ \"created\": 1386474137,\n  \"used\": false,\n  \"object\": \"token\",\n
        \ \"type\": \"card\",\n  \"card\": {\n    \"id\": \"card_10358j2EgJ8VpLXrIAAuumhX\",\n
        \   \"object\": \"card\",\n    \"last4\": \"4242\",\n    \"type\": \"Visa\",\n
        \   \"exp_month\": 11,\n    \"exp_year\": 2016,\n    \"fingerprint\": \"NjRZljRJ10zh6goe\",\n
        \   \"customer\": null,\n    \"country\": \"US\",\n    \"name\": null,\n    \"address_line1\":
        null,\n    \"address_line2\": null,\n    \"address_city\": null,\n    \"address_state\":
        null,\n    \"address_zip\": null,\n    \"address_country\": null\n  }\n}\n"
  recorded_at: Sun, 08 Dec 2013 03:42:17 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: plan=Basic&card=tok_10358j2EgJ8VpLXrCe7ipSeD&email=jee.lynch%40franecki.name
    headers:
      Authorization:
      - Bearer sk_test_0GZIa56QpRrqbGHqREQCYYf5
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"object\": \"customer\",\n  \"created\": 1386474138,\n  \"id\":
        \"cus_358jMCNSYZy9Op\",\n  \"livemode\": false,\n  \"description\": null,\n
        \ \"email\": \"jee.lynch@franecki.name\",\n  \"delinquent\": false,\n  \"metadata\":
        {},\n  \"subscription\": {\n    \"id\": \"sub_358jzOniJPZQCh\",\n    \"plan\":
        {\n      \"interval\": \"month\",\n      \"name\": \"Basic Monthly Plan\",\n
        \     \"amount\": 999,\n      \"currency\": \"usd\",\n      \"id\": \"Basic\",\n
        \     \"object\": \"plan\",\n      \"livemode\": false,\n      \"interval_count\":
        1,\n      \"trial_period_days\": 7,\n      \"metadata\": {}\n    },\n    \"object\":
        \"subscription\",\n    \"start\": 1386474138,\n    \"status\": \"trialing\",\n
        \   \"customer\": \"cus_358jMCNSYZy9Op\",\n    \"cancel_at_period_end\": false,\n
        \   \"current_period_start\": 1386474138,\n    \"current_period_end\": 1387078938,\n
        \   \"ended_at\": null,\n    \"trial_start\": 1386474138,\n    \"trial_end\":
        1387078938,\n    \"canceled_at\": null,\n    \"quantity\": 1,\n    \"application_fee_percent\":
        null\n  },\n  \"discount\": null,\n  \"account_balance\": 0,\n  \"cards\":
        {\n    \"object\": \"list\",\n    \"count\": 1,\n    \"url\": \"/v1/customers/cus_358jMCNSYZy9Op/cards\",\n
        \   \"data\": [\n      {\n        \"id\": \"card_10358j2EgJ8VpLXrIAAuumhX\",\n
        \       \"object\": \"card\",\n        \"last4\": \"4242\",\n        \"type\":
        \"Visa\",\n        \"exp_month\": 11,\n        \"exp_year\": 2016,\n        \"fingerprint\":
        \"NjRZljRJ10zh6goe\",\n        \"customer\": \"cus_358jMCNSYZy9Op\",\n        \"country\":
        \"US\",\n        \"name\": null,\n        \"address_line1\": null,\n        \"address_line2\":
        null,\n        \"address_city\": null,\n        \"address_state\": null,\n
        \       \"address_zip\": null,\n        \"address_country\": null,\n        \"cvc_check\":
        \"pass\",\n        \"address_line1_check\": null,\n        \"address_zip_check\":
        null\n      }\n    ]\n  },\n  \"default_card\": \"card_10358j2EgJ8VpLXrIAAuumhX\"\n}\n"
  recorded_at: Sun, 08 Dec 2013 03:42:22 GMT
recorded_with: VCR 2.8.0
